@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');


:root{  
    --font-principal: 'Baloo 2', cursive;
    --font-gg: 'Staatliches';
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-principal);
    overflow-x: hidden;
}

html, body{
    height: 100vh;
}

html{
    font-size: 62.5%;
}

body{
    
    font-size: 1.6rem;
}

.nav_bar img{
    width: 38px;
}
.nav_bar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;

    padding: 20px;
    max-width: 1300px;
    font-size: 2rem;
    gap: 40px;
}

.nav_bar a{
    display: flex;
}

a:hover{
    color: rgb(77, 35, 246);
    transition: .3s ease-in;
}



header{
    width: 100%;
    overflow-y: hidden;
   height: 100%;
    background: linear-gradient( 20deg, rgb(10, 10, 34), rgb(17, 17, 160), rgb(13, 15, 46));
}

.menu{

    display: flex;
   
    width: 100%;
    padding: 20px;
    max-height: 576px;

    overflow-y: hidden;
    margin: auto;
}
.info{

     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;

     overflow: hidden;
    color: white;
    padding: 20px;
}

.info_content{
    display: flex;
    flex-direction: column;
    
    min-height: 450px;
    width: 100%;
    margin: auto;
    gap: 10px;
}

.info_content p{
    text-align: justify;
}

button{
    
    width: 100%;
    max-width: 100px;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    transition: .3s ;
    cursor: pointer;
    border: none;
    color: white;

    background: linear-gradient(40deg, rgb(39, 39, 255), rgb(19, 19, 106) );
}

.bluelock_name{
    width: 100%;
    max-width: 800px;
}

#person_ego{
    width: 100%;
    max-width: 40rem;
    margin: auto;
}

.img-name{

    margin: auto;

    width: 100%;
}

.nav_bar a{
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    width: 100px;
    position: relative;
}


.nav_bar a::after{
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #321cc1) ;

    height: 3px;
    width: 0%;
    left: 0px;
    bottom: 0px;
}

.nav_bar a:hover::after{
   
    transition: .3s;
    width: 100%;
}




button:hover{
    transition: .3s;
    box-shadow: 0px 0px 20px rgba(32, 6, 232, 0.609), inset 0px 0px 40px rgb(30, 44, 239);
}


.players{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;

    width: 100%;
    max-width: 1200px;
    padding: 20px;

    margin: auto;
}

.group-0{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    border-bottom: 1px solid rgba(0, 0, 0, 0.408);

}

.group-0 img{
    width: 60px;
    border-radius: 50%;
    transition: .3s;
}

.group-0 h6{
    font-size: 16px;
}
.group-0 p{
    font-size: 14px;
    font-weight: 500;
}

.group-0 img:hover{
      transition: .3s;
    width: 50px;
}


.group-1{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
   
    margin-left: 20px;
    
    min-height: 150px;
    
}

.titulares:hover{
   margin-bottom: 10px;
  transition: .3s;
}


.group-1 img{
    width: 60px;
}

.part-2 img{
    width: 60px;
}

.titulares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .3s;
}

.part-2{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    max-width:1200px;
    border-bottom: 1px solid black;
    gap: 20px;

    min-height: 150px;
}

.part-2 .titulares{
    margin-left: 60px;
}
#aryu{
    min-width: 66px;
}

#chigiri{
    min-width: 80px;
}

#bachira{
    min-width: 66px;
}
#yukimiya{
    min-width: 70px;
}

#nagi{
    width: 70px;
}

@keyframes slideright {
    from {
        transform: translateX(500px);
      
    }

    to{
        transform: translateX(0);
    }
}

#person_ego{
    animation:slideright 1s ease;
}

@keyframes slideleft{
    from{
        transform: translateX(-300px);
    }
}

.info_content{
    animation: slideleft 2s ease;
}

@keyframes topdown{
    from{
        transform: translateY(-300px);
    }
}

.nav_bar{
    animation: topdown 1s ease;
}