@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --font-principal: 'Poppins', sans-serif;;
    --gradient: linear-gradient(100deg,
        rgba(255, 255, 255, 0), black, rgba(255, 255, 255, 0)
    );
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-principal);
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    
}

header{
    width: 100%;
    height: 720px;
    background: linear-gradient(318.28deg, #FFFFFF 66.17%, #2979F0 56.41%);
    box-shadow: inset 0px 270px 200px  rgba(0, 0, 0, 0.144);
}

.home{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}


.nav_bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    max-width: 1300px;
    height: 60px;
    gap: 100px;
    font-weight: 300;
}

.nav_bar a{
    
    color: black;
    transition: .5s ease;
}

.nav_bar a:hover{
    
    transition: .3s ease;
    color: #23BEEF;
}

.nav_bar img{
    width: 38px;
    
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
   
    
}

.info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

max-width: 500px;
    padding: 20px;
    gap: 20px;
}

.info_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.info-main{
    width: 100%;
    text-align: center;
    
    border-width: 1px;
    border-style: solid;
    border-image-source: linear-gradient(270deg, #ffffff00 7.01%, #000000 52.38%, #ffffff00 97.75%);


}

.info-main h4{
    font-size: 20px;
    font-weight: 200;
    color: #23BEEF;
}
.info-main h2{
    font-size: 35px;
    font-weight: 300;
    color: rgb(0, 132, 255);
}
.info-main h1{
    font-weight: 200;
}

.rin-resume{
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.card{
    width: 100%;
    max-width: 540px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
    cursor: pointer;
}
#coracao{
    color: red;

    font-size: 50px;
    overflow: hidden;
    transition: .3s ease;
}

#star{
    color: rgb(252, 227, 0);

    font-size: 50px;
    overflow: hidden;
    transition: .3s ease;
}

#coracao:hover{
   filter: drop-shadow(0px 0px 3px red);
    transition: .3s ease;
}

#star:hover{
     filter: drop-shadow(0px 0px 4px rgb(238, 255, 0));
     transition: .3s ease;
}

.rinimg img{
    width: 100%;
    max-width: 540px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    filter: drop-shadow(58px 4px 2px #00000038);
}

.nav_info{
    height: 400px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;

    padding-right: 50px;
    gap: 10px;
}
li{
    color: #00A3FF85;
    transition: .3s ease;
    padding: 10px;
}
li a{
   color: #00a2ffc0;
   font-size: 17px;
   width: 70px;
   transition: .5s ease;
   text-align: center;
}

li a:hover{
    color: rgba(0, 148, 255, 1);
    font-size: 30px;
    
    transition: .3s ease;
}

li:hover{
    color: rgba(0, 148, 255, 1);
    transition: .3s ease;
}

.sobre{
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;

    color: white;
    background: radial-gradient(#0345a8, rgb(4, 21, 68));
    overflow: hidden;
}

.main_character{
    width: 200px;

    height: 600px;
    background: url(../imagens/Rin\ Itoshi_Image\ Gallery.png) center no-repeat;
    background-size: contain;
    
}

.info_content{
    width: 500px;
    text-align: center;
}

.info_main{
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 10px;
}

.info_main h1{
    font-size: 70px;
    font-weight: 200;
}

.info_second{
    text-align: justify;
}

@keyframes slideInLeft{
    from {
        transform: translateX(-600px);
      
    }

    to {
        transform: translateX(0);
       
    }

}

.rinimg{
    animation: slideInLeft 2s ease 0s  ;
}

@keyframes topdown {
    from{
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

.nav_bar{
    animation: topdown 2s ease 0s;
}

@keyframes topdown-2 {
    from{
        filter: blur(50px);
    }

   
}

.info_container{
    animation: topdown-2 1s ease 0s;
}

@keyframes slideright {
    from{
        transform: translateX(600px);
    }

    to {
        transform: translateX(0);
    }
}

.nav_info{
    animation: slideright 1s ease;
}
